In [1]:
print ("Hello")

Hello

In [3]:
import pandas as pd

In [4]:
input_file = "vcf/vn_genomes/SOD1.chr21.txt"

In [5]:
df = pd.read_csv(input_file)

In [6]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [7]:
df.head(10)

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
5,21,31661410,.,C,T,.,PASS,AC=72;AN=5096;DP=18358;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|0,0|0,1|1,0|0,0|0,0|1,0|0,0|0,0|0,0|0
6,21,31662304,.,A,G,.,PASS,AC=1;AN=5096;DP=23579;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
7,21,31662579,.,G,A,.,PASS,AC=1672;AN=5096;DP=21074;AF=0.33;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
8,21,31662993,.,C,T,.,PASS,AC=13;AN=5096;DP=16291;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
9,21,31663068,.,G,C,.,PASS,AC=6;AN=5096;DP=20048;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [8]:
df.shape

(38, 108)

In [9]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [11]:
list (df.columns)

['#CHROM',
 'POS',
 'ID',
 'REF',
 'ALT',
 'QUAL',
 'FILTER',
 'INFO',
 'FORMAT',
 'HG01595',
 'HG01596',
 'HG01597',
 'HG01598',
 'HG01599',
 'HG01600',
 'HG01840',
 'HG01841',
 'HG01842',
 'HG01843',
 'HG01844',
 'HG01845',
 'HG01846',
 'HG01847',
 'HG01848',
 'HG01849',
 'HG01850',
 'HG01851',
 'HG01852',
 'HG01853',
 'HG01855',
 'HG01857',
 'HG01858',
 'HG01859',
 'HG01860',
 'HG01861',
 'HG01862',
 'HG01863',
 'HG01864',
 'HG01865',
 'HG01866',
 'HG01867',
 'HG01868',
 'HG01869',
 'HG01870',
 'HG01871',
 'HG01872',
 'HG01873',
 'HG01874',
 'HG01878',
 'HG02016',
 'HG02017',
 'HG02019',
 'HG02020',
 'HG02023',
 'HG02025',
 'HG02026',
 'HG02028',
 'HG02029',
 'HG02031',
 'HG02032',
 'HG02035',
 'HG02040',
 'HG02047',
 'HG02048',
 'HG02049',
 'HG02050',
 'HG02057',
 'HG02058',
 'HG02060',
 'HG02061',
 'HG02064',
 'HG02067',
 'HG02069',
 'HG02070',
 'HG02072',
 'HG02073',
 'HG02075',
 'HG02076',
 'HG02078',
 'HG02079',
 'HG02081',
 'HG02082',
 'HG02084',
 'HG02085',
 'HG02086',
 'HG02087',
 'HG02088',
 'HG02113',
 'HG02116',
 'HG02121',
 'HG02122',
 'HG02127',
 'HG02128',
 'HG02130',
 'HG02131',
 'HG02133',
 'HG02134',
 'HG02136',
 'HG02137',
 'HG02138',
 'HG02139',
 'HG02140',
 'HG02141',
 'HG02142',
 'HG02512',
 'HG02513',
 'HG02521',
 'HG02522']

In [12]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [13]:
df2 = df[['POS','REF','ALT','INFO']]

In [14]:
df2.head()

        POS REF ALT                                               INFO
0  31660364   C   A  AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...
1  31660429   A   C  AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...
2  31660675   C   A  AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...
3  31660688   C   G  AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...
4  31660694   C   T  AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...

In [15]:
df2.shape

(38, 4)

In [17]:
df2.loc[0:3, :]

        POS REF ALT                                               INFO
0  31660364   C   A  AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...
1  31660429   A   C  AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...
2  31660675   C   A  AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...
3  31660688   C   G  AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...

In [18]:
df2.iloc[0:3, :]

        POS REF ALT                                               INFO
0  31660364   C   A  AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...
1  31660429   A   C  AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...
2  31660675   C   A  AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...

In [22]:
df3 = df2.iloc[0:3, 0:2]

In [23]:
df3.to_csv("sample.txt")