In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("pokemon_data.csv")

In [7]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
df.shape

(800, 12)

In [9]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [11]:
df.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [13]:
df1 = pd.read_csv("pokemon_data.txt",sep='\t')

In [14]:
df1.shape

(800, 12)

In [15]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [16]:
df ["Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [18]:
df[['Name','HP']]

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

In [21]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [23]:
df['Name'][0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [24]:
df[['Name','Type 1', 'HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [25]:
df.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [26]:
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [30]:
df.iloc[2,1]

'Venusaur'

In [36]:
for index,row in df.iterrows():
    print(index)
    print ("----------------------")
    print (row)
    print ("----------------------")
    print("Listing row content")
    print (row["Name"])
    break

0
----------------------
#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
----------------------
Listing row content
Bulbasaur

In [39]:
df.loc[df['Type 1'] == "Grass"].shape

(70, 12)

In [42]:
df.loc[(df['Type 1'] == "Fire") & (df['Name'] == "Ponyta")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False

In [45]:
df.loc[(df['Type 1'] == "Fire") | (df['Name'] == "Ponyta")].shape

(52, 12)

In [46]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [47]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [48]:
df.sort_values(by=['Name'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [50]:
df.sort_values(by=['Type 1','Name'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
290,267,Beautifly,Bug,Flying,60,70,50,100,50,65,3,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
372,340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
209,194,Wooper,Water,Ground,55,45,45,25,25,15,2,False

In [55]:
df.sort_values(by=['Type 1','Name'],ascending=[0,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

# Making changes to Data

## This is a good place for you to take notes so later you can refer to it

### Level 3 heading

In [56]:
df.head (5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [59]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [60]:
45+49+49+65+65+45

318

In [63]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df = df.drop(columns=['Total'])

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [68]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

#df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:,4:10].sum(axis=1)



df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [69]:
cols = list(df.columns)

In [70]:
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [71]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [72]:
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [77]:
l =['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Total',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [78]:
df=df[l]

In [79]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False

# Saving Data

In [83]:
#df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [86]:
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,320,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,313,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,405,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,530,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,350,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,531,62,97,81,68,6,False

In [88]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,320,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,395,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,490,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,300,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,390,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,490,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,50,60,400,45,100,80,65,3,False
451,406,Budew,Grass,Poison,40,30,280,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,515,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,69,55,294,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,464,70,85,80,30,5,False

In [89]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,40,35,195,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,313,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,405,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,530,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,350,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,531,62,97,81,68,6,False

In [92]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,320,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,313,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,405,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,530,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,350,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,531,62,97,81,68,6,False

In [93]:
new_df = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.to_csv('filtered.csv')

In [100]:
new_df = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#new_df.to_csv('filtered.csv')

new_df.reset_index(drop=True, inplace=True)

new_df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,43,Oddish,Grass,Poison,45,50,320,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,650,Chespin,Grass,NaN,56,61,313,65,48,45,38,6,False
67,651,Quilladin,Grass,NaN,61,78,405,95,56,58,57,6,False
68,652,Chesnaught,Grass,Fighting,88,107,530,122,74,75,64,6,False
69,672,Skiddo,Grass,NaN,66,65,350,48,62,57,52,6,False
70,673,Gogoat,Grass,NaN,123,100,531,62,97,81,68,6,False

In [104]:
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,634,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,634,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,630,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,495,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,579,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,590,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,590,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,600,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,590,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,600,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,95,155,640,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,615,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,780,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,780,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,80,82,525,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,610,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,610,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,600,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,600,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,600,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,700,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,630,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,630,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,635,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,618,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,50,85,480,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,50,105,480,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,70,140,630,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,510,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,70,75,575,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,560,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,560,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,590,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,555,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,565,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,80,120,580,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,700,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,700,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,80,100,700,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,700,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,780,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,580,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,700,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,70,145,625,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,594,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,618,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,103,60,545,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True

In [105]:
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,405,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,600,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [107]:
import re

df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,369,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,507,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,350,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,531,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [108]:
import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,369,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,507,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,350,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,531,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [111]:
import re

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,251,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,349,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,479,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,579,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,320,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,500,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,600,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,205,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,290,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,450,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,314,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,418,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,264,50,36,30,43,5,False

# Conditional Changes

In [114]:
df.loc[df['Type 1']=='Fire', 'Type 1'] = 'Flamer'

In [115]:
df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,80,110,600,120,130,90,70,6,True

In [116]:
df.loc[df['Type 1']=='Flamer', 'Type 1'] = 'Fire'

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [118]:
df.loc[df['Type 1']=='Fire', 'Legendary'] = True

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [119]:
df=pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [121]:
df.loc[df['Total'] > 500,['Generation', 'Legendary']] = 'TEST VALUE'

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,TEST VALUE,TEST VALUE
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,TEST VALUE,TEST VALUE
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,TEST VALUE,TEST VALUE
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,TEST VALUE,TEST VALUE
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,TEST VALUE,TEST VALUE
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,TEST VALUE,TEST VALUE
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,TEST VALUE,TEST VALUE

In [122]:
df.loc[df['Total'] > 500,['Generation', 'Legendary']] = ['Test 1', 'Test 2']

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,Test 1,Test 2
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,Test 1,Test 2

In [123]:
#df.loc[df['Total'] > 500,['Generation', 'Legendary']] = ['Test 1', 'Test 2']

#df

df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

# Aggregate Statistics

In [124]:
df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,HP,Attack,Total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [128]:
df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].groupby(['Type 1']).mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286

In [131]:
df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235

In [132]:
df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235

In [133]:
df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].groupby(['Type 1']).mean().sort_values('HP', ascending=False)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Fairy,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Ground,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Flying,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Fighting,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Poison,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Dark,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Rock,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Ghost,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Electric,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159

In [134]:
df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].groupby(['Type 1']).sum()

          Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug       26146  3925    4897     4880     3717     4471   4256
Dark      13818  2071    2740     2177     2314     2155   2361
Dragon    17617  2666    3588     2764     3099     2843   2657
Electric  19510  2631    3040     2917     3961     3243   3718
Fairy      7024  1260    1046     1117     1335     1440    826
Fighting  11244  1886    2613     1780     1434     1747   1784
Fire      23820  3635    4408     3524     4627     3755   3871
Flying     1940   283     315      265      377      290    410
Ghost     14066  2062    2361     2598     2539     2447   2059
Grass     29480  4709    5125     4956     5425     4930   4335
Ground    14000  2361    3064     2715     1807     2008   2045
Ice       10403  1728    1746     1714     1861     1831   1523
Normal    39365  7573    7200     5865     5470     6245   7012
Poison    11176  1883    2091     1927     1692     1803   1780
Psychic   27129  4026    4073     3858     5609     4918   4645
Rock      19965  2876    4086     4435     2787     3321   2460
Steel     13168  1761    2503     3412     1823     2177   1492
Water     48211  8071    8305     8170     8379     7898   7388

In [135]:
df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].groupby(['Type 1']).count()

          Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug          69   69      69       69       69       69     69
Dark         31   31      31       31       31       31     31
Dragon       32   32      32       32       32       32     32
Electric     44   44      44       44       44       44     44
Fairy        17   17      17       17       17       17     17
Fighting     27   27      27       27       27       27     27
Fire         52   52      52       52       52       52     52
Flying        4    4       4        4        4        4      4
Ghost        32   32      32       32       32       32     32
Grass        70   70      70       70       70       70     70
Ground       32   32      32       32       32       32     32
Ice          24   24      24       24       24       24     24
Normal       98   98      98       98       98       98     98
Poison       28   28      28       28       28       28     28
Psychic      57   57      57       57       57       57     57
Rock         44   44      44       44       44       44     44
Steel        27   27      27       27       27       27     27
Water       112  112     112      112      112      112    112

In [136]:
df2 = df[['Type 1','Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

In [137]:
df2.head()

  Type 1  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  Grass    318  45      49       49       65       65     45
1  Grass    405  60      62       63       80       80     60
2  Grass    525  80      82       83      100      100     80
3  Grass    625  80     100      123      122      120     80
4   Fire    309  39      52       43       60       50     65

In [139]:
df2.groupby(['Type 1']).count()

          Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug          69   69      69       69       69       69     69
Dark         31   31      31       31       31       31     31
Dragon       32   32      32       32       32       32     32
Electric     44   44      44       44       44       44     44
Fairy        17   17      17       17       17       17     17
Fighting     27   27      27       27       27       27     27
Fire         52   52      52       52       52       52     52
Flying        4    4       4        4        4        4      4
Ghost        32   32      32       32       32       32     32
Grass        70   70      70       70       70       70     70
Ground       32   32      32       32       32       32     32
Ice          24   24      24       24       24       24     24
Normal       98   98      98       98       98       98     98
Poison       28   28      28       28       28       28     28
Psychic      57   57      57       57       57       57     57
Rock         44   44      44       44       44       44     44
Steel        27   27      27       27       27       27     27
Water       112  112     112      112      112      112    112

In [145]:
df = pd.read_csv('modified.csv')

df['count'] = 1

df.groupby(['Type 1']).count()['count']

#df2.groupby(['Type 1']).count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [146]:
df = pd.read_csv('modified.csv')

df['count'] = 1

df.groupby(['Type 1','Type 2']).count()['count']

#df2.groupby(['Type 1']).count()

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64